* {
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.btn{
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    text-align: center;
    margin: 1.2rem;
    padding: 1.2rem;
    text-transform: uppercase;
    border-radius: 6px;
}
.btn:focus{
    outline: none;
}

.btn:hover{
    transform: scale(0.98);
    opacity: 0.8;
}